.App {
  padding: 20px;
  min-height: 100vh;
  background-color: #282c34;
  color: white
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.set-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
  grid-gap: 20px;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
  grid-gap: 20px;
}